@charset "ISO-8859-1";

#left {
	width: 250px;
	margin-top: 45px;
	position: absolute;
}

#search {
	margin-right: 490px;
}

#main {
	position: absolute;
	margin-left: 387px;
	margin-top: 43px;
	width: 1174px;
	height: 501px;
}

#visualUser {
	max-width: 1625px;
	margin-left: 260px;
	margin-top: -6px;
	width: 1582px;
	height: 760px;
}

#sfondo {
	background-image: url('admin.jpg');
}

#delete {
	margin-left: -6px;
	position: absolute;
	margin-top: 59px;
}

@media screen and (min-width: 100px) and (max-width: 1500px) {
	#main {
		width: 800px;
	}
	#visualUser {
		width: 1142px;
		height: 580px;
	}
}